

<div class="content">
    <div id="myPaymentModal" class="modal" tabindex="-1">
        <input type="hidden" id="lblCurrentInstallment" value="" />
        <div class="modal-content">
            <span id="PaymentClose" class="close" onclick="return ClosePaymentModal();">&times;</span>




            <div class="content" id="dvPayment">

            </div>


        </div>

    </div>
</div>

<div class="content">

    <div id="myCheckModal" class="modal" tabindex="-1">
        <input type="hidden" id="lblAllCheck" value="" />
        <input type="hidden" id="lblCurrentCheck" value="" />



        <div class="modal-content">
            <span id="CheckClose" class="close" onclick="return CloseCheckModal();">&times;</span>




            <div class="content" id="dvCheck">

            </div>


        </div>

    </div>
</div>
<div id="dvGroupCard" class="content" style="max-height:1000px;scroll-behavior:auto;">

</div>