
@model SharpVision.UMS.UMSBusiness.UserBiz
@using SharpVision.UMS.UMSBusiness;

@using SharpVision.SystemBase;

@{
    ViewBag.Title = "Change Pass";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}
<style>
    #LogInDiv {
        position: absolute;
        left: 40%;
        right: 40%;
        border: 1px solid #cc;
        padding: 10px;
    }
</style>
<script type="text/javascript">
const { json } = require("modernizr");

    function CheckFormValidation()
    {

        var strPass = JSON.parse(document.getElementById("lblPassOld").value);
        var strOldPass = document.getElementById("txtOldPassword").value;

        var strNewPass = document.getElementById("txtNewPassword").value;
        var strNewPassConfirm = document.getElementById("txtNewPasswordConfirm").value;

        if (strOldPass=="")
        {
            alert("فضلا حدد كلمة المرور القديمة");
            return false;
        }

        if (strOldPass != strPass) {
            alert("كلمة المرور القديمة غير صحيحة");
            return false;
        }
        if (strNewPass != strNewPassConfirm) {
            alert("كلمة المرور الجديدة غير متطابقة مع التاكيد");
            return false;
        }
        return true;
    }
</script>


@{
    #region IntializeConnection
    int intLanguage = 0;
    string strLang = Request["Lang"];
    string strConnection = System.Configuration.ConfigurationManager.AppSettings["SVDBCon"];
    string strImage = System.Configuration.ConfigurationManager.AppSettings["ImageURL"];
    SysData.SharpVisionBaseDb = new SharpVision.Base.BaseDataBase.BaseDb(strConnection);
    int intSystem = 6;
    string strSys = System.Configuration.ConfigurationManager.AppSettings["SysID"];
    if (strSys != null)
    {
        int.TryParse(strSys, out intSystem);
    }
    SystemBiz objSystemBiz = new SystemBiz() { ID = intSystem };
    UserBiz.SetUmsBaseConnection(strConnection, intSystem, 0, "");
    SysData.Language = intLanguage;
    #endregion


}
<body>
    <div id="LogInDiv">

        <form id="myForm" action="~/Login/ChangePassword" method="post" onsubmit="return CheckFormValidation()">
            @{
                UserSimple objUser = SysData.CurrentUser.UserSimple;
                string strUserPass = Json.Encode(SysData.CurrentUser.Password);

            }
            <input type="hidden" value="@strUserPass" id="lblPassOld" />
            <div class="form-group">
                <label>Name:</label>
            <label style="background-color:palegoldenrod">@objUser.Name</label>
            </div>
            <div class="form-group">
                <label>Old PassWord:</label>
                <input type="password" id="txtOldPassword" name="txtOldPassword" class="form-control" placeholder="Old PassWord">
            </div>
            <div class="form-group">
                <label>New PassWord:</label>
                <input type="password" id="txtNewPassword" name="txtNewPassword" class="form-control" placeholder="New PassWord">
            </div>
            <div class="form-group">
                <label>New PassWord Confirm:</label>
                <input type="password" id="txtNewPasswordConfirm" name="txtNewPasswordConfirm" class="form-control" placeholder="New PassWord Confirm">
            </div>
           
            
<div class="row">
                <div class="col">
                    <input type="submit" value="ChangePass" onclick="return CheckFormValidation();" class="btn btn-outline-primary" formmethod="post">
                </div>
               <!-- <div class="col">
                    <input type="button" value="Exit" class="btn btn-outline-primary" onclick="return true;" formaction="~/Login/Index">
                </div>-->
    </div>
          



        </form>

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
