@using AlgorithmatMVC.UNI.UNIBusiness;

    @{
    ViewBag.Title = "StudentSearch";
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}

<h2>البحث فى الطلبة</h2>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/UNI/Student.js"></script>
<script src="~/Scripts/UNI/StudentJS.js"></script>
<div class="form-row">
    <div class="col-2">

        <input type="text" id="txtName" class="form-control form-control-sm" placeholder="Code Or Name" />
    </div>
    <div class="col-3">

        <select id="cmbLevel" class="form-control form-control-sm">
            @{
                int intIndex = 0;
                int intFaculty = 0;
                string strFaculty = "";
                if (Session["CurrentFaculty"] != null)
                {
                    strFaculty = Session["CurrentFaculty"].ToString();
                    if (strFaculty != null && strFaculty != "")
                    {
                        intFaculty = Json.Decode<FacultySimple>(strFaculty).ID;
                    } }
                LevelCol objLevelCol = new LevelCol(false,intFaculty);
            }
            @foreach (LevelBiz objLevel in objLevelCol)
            {
                <option value="@objLevel.Level">@objLevel.LevelDesc</option>
                intIndex++;
            }
        </select>
    </div>
    <div class="col-2">
        <input type="button" class="form-control form-control-sm" value="Fill" onclick="return SearchStudent()" />
    </div>
    <div class="col-2">
        <input type="button" class="form-control form-control-sm" value="Print" onclick="return OnStudentSearchDownloadClick(0)" />
    </div>
    <div class="col-2">
        <input type="button" class="form-control form-control-sm" value="Detailed" onclick="return OnStudentSearchDownloadClick(1)" />
    </div>
    <div class="col-1">
        <input type="checkbox" id="chkSelectedOnly" />
    </div>
</div>
<div class="card" style="max-height:auto;scroll-behavior:auto;">
    <div class="card-header bg-teal-400 text-white header-elements-inline">
        <h6 class="card-title">الطلبة</h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div id="dvStudent" class="table-responsive table table-bordered table table-hover table-striped" style="max-height:90%;max-width:100%; text-align:center;scroll-behavior:auto;height:auto;">

        </div>
    </div>
</div>

