@using SharpVision.CRM.CRMBusiness;
@using SharpVision.SystemBase;
@using SharpVision.UMS.UMSBusiness;
@using System.Web.Script.Serialization;
@using SharpVision.Base.BaseBusiness;

 

@{
    ViewBag.Title = "Customer";
    Layout = Url.Content("~/Views/Shared/_LayoutYoussefPure.cshtml");
}

<head>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.3.47/fluent.css" />
    <script src="https://cdn.syncfusion.com/ej2/20.3.47/dist/ej2.min.js"></script>
</head>
<body>
    
</body>